.panel-full-height {
     height: calc(var(--vh, 1vh) * 100 - 4rem);
  border-right: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  box-shadow: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.panel-1 .list-group-item{
	background-color: #f5f7fa;
	cursor: pointer;
}
.panel-1 .list-group-item.active{
	color: #404e67;
	font-weight: bold;
	background: #00b5b8;
}
.panel-1 .list-group-item:hover{
	background: #e9ecf1;
}
.panel-1 .list-group-item.active:hover{
	background: #00b5b8;
}